* {
    padding: 0;
    margin: 0;
}

/*Index Principio*/

.h1_header {
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
}

.p_body {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 35px;
}

.ul_header{
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    list-style-type: none;
    text-align: center;
}

.li_header{
    display: inline-flex;
}

.li_header a:hover {
    color: violet;
    background-color: black;
}

.a_header {
    text-decoration: none;
    color: white;
    padding: 10px;
    width: 200px;
    transition: all 0.5s ease;
}

a:visited {
    text-decoration: none;
}

.li_header a:visited {
    text-decoration: none;
}

.img_a_div {
    width: 80%;
    height: 80%;
    border-radius: 50%;
}

.img_a_div:hover {
    transform: scale(1.3);
    transition: 0.5s;
}

.div_img {
    width: 200px;
    height: 200px;
    object-fit: fill;
}

.div_img_discord {
    width: 300px;
    height: 300px;
    object-fit: fill; 
}

.container {
    display: flex;
    margin: 60px;
}

.articulo {
    width: 95%;
    text-align: center;
}

.seccion1 {
    columns: 3;
}

.ul_seccion {
    list-style-type: none;
}

.seccion1 li {
    padding-top: 30px;
    padding-bottom: 100px;
}

.seccion1 img {
    padding-top: 25px;
}

.seccion2 {
    align-items: center;
    text-align: center;
    columns: 2;
}

.seccion2 li {
    padding-top: 30px;
    list-style-type: none;
}

.seccion2 img {
    padding-top: 25px;
}

.seccion3 {
    padding-top: 30px;
}

.menu2 {
    width: 5%;
    margin-top: 60px;
    float: left;
    border-right: 3px solid black;
}

.menu2 a {
    display: block;
    text-align: left;
    margin-bottom: 320%;
}

.footer {
    width: 100%;
    height: 200px;
    background-color: black;
    color: white;
    margin-top: 40px;
    margin-left:0px ;
    bottom: 0px;
}

.p_footer {
    text-align: center;
    padding: 50px;
}

/*Index Fin*/
/*CV Principio*/

.img_cv {
    height: 300px;
    width: 300px;
    object-fit: cover;
    padding-right: 50px;
}

.tabla {
    width: 65%;
    text-align: left;
    margin-right: 30%;
}

.container2 {
    display: flex;
    margin: 60px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.p_cv {
    font-weight: bold;
    padding-right: 3px;
}

.p_cv2 {
    font-size: 15px;
    vertical-align: text-top;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    text-align: center;
    justify-content: center;
}

.nombrecv {
    text-align: center;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    width: 50%;
}

.td_cv {
    padding-bottom: 10px;
    display: inline-flex;
    padding-right: 100px;
}

.div_cv {
    margin-left: 30%;
    position: absolute;
}

.p_tabla {
    font-size: 35px;
    padding-bottom: 20px;
    text-decoration: underline;
}

.td_separacion {
    padding-bottom: 15px;
}

.td_final {
    padding-bottom: 50px;
}

.video_cv video {
    padding-top: 75%;
    height: 300px;
    width: 400px; 
}

/*CV Fin*/
/*Formulario Principio*/
.articulo_form {
    width: 95%;
    text-align: center;
}

.articulo_form p {
    padding-top: 25px;
}

.container3 {
    display: flex;
    margin: 60px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

.label_form {
    padding-bottom: 30px;
}

/*Formulario Fin*/

/*Proyecto Principio*/

.h1_proyecto {
    text-align: center;
    padding-left: 15%;
}

.h1_proyecto iframe {
    height: 700px;
    width: 1300px;
}

/*Proyecto Fin*/

/*Fondo*/
.fondo {background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
background-repeat: no-repeat;
background-size: cover;
}